amqp==1.4.9
anyjson==0.3.3
asyncio==3.4.3
beautifulsoup4==4.7.1
billiard==3.3.0.23
celery==5.2.2
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
coroutines==0.1.4
defusedxml==0.5.0
Django==2.1.4
django-allauth==0.38.0
django-appconf==1.0.2
django-background-tasks==1.2.0
django-celery==3.2.2
django-cities==0.5.0.6
django-compat==1.0.15
django-countries==5.3.2
django-crispy-forms==1.7.2
django-datetimepicker==3.14
django-ipware==2.1.0
django-model-utils==3.1.2
django-tracking-analyzer==0.2
django-user-agents==0.3.2
django-widget-tweaks==1.4.3
djangorestframework==3.9.0
geoip2==2.9.0
httpie==1.0.2
idna==2.8
Jinja2==2.10
kombu==3.0.37
MarkupSafe==1.1.0
maxminddb==1.4.1
oauthlib==2.1.0
Pillow==5.4.0
psycopg2==2.7.6.1
Pygments==2.3.1
python3-openid==3.1.0
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.1.0
schedular==1.0.4
schedule==0.5.0
sentry-sdk==0.6.9
six==1.12.0
soupsieve==1.7.1
swapper==1.1.0
tqdm==4.29.1
ua-parser==0.8.0
urllib3==1.24.1
user-agents==1.1.0
vine==1.2.0
zerosms==0.0.1